<h1>User Profile</h1>


<%= link_to 'Home', root_path %>

<div class="col-md-6">
  <div class="posts">
	<% if @user.posts.any? %>
	<h3>Rants (<%= @user.posts.count %>)</h3>
      <%= will_paginate @posts %>
	<ol>
	        <% if !@posts.empty? %>
            <%= render @posts %>
          <% else %>
             <span class="no_posts"><%= 'No recent posts..' %></span>
        <% end %>
	</ol>
	  <%= will_paginate @posts %>
	  <% end %>
  </div>
</div>

<% if current_user.admin? && !current_user?(user) %>
   <%= link_to "delete", @user.destroy %>
   								data: { confirm: "You sure?" } %>
  	<% end %>

    <!-- <div class="user_posts">
  	<%# form_for @post do | f | %>
  		<%# f.label "Start Rant" %>
  		<%# f.text_area :content, placeholder: "Start expressing yourself here.." %>
  		<%# f.submit "Publish" %> 
  	<%# end %>
  </div> -->

<br/>
<%= link_to "Edit Profile", edit_user_path %>
<br/>
<%= link_to "Log out", logout_path %>